.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #153f4d;
  color: #fff;
  transition: all 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar.rtl {
  direction: rtl;
}

.sidebar.ltr {
  direction: ltr;
}

.toggle-btn {
  padding: 15px;
  cursor: pointer;
  text-align: center;
  background-color: #12404d;
  color: white;
  border-bottom: 1px solid #0e2f38;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 14px 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.2s;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.05); */
}

.menu li:hover {
  background-color: #1f5565;
}

.menu li span {
  flex: 1;
  font-size: 15px;
  white-space: nowrap;
}

.sidebar.collapsed .menu li span {
  display: none;
}

/* 🔹 Submenu */
.submenu .submenu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submenu .arrow {
  font-size: 12px;
}

.submenu-items {
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
  background-color: #11414f;
  border-radius: 5px;
  overflow: hidden;
}

.submenu-items li {
  padding: 10px 25px;
  font-size: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.submenu-items li:hover {
  background-color: #196272;
}

.submenu.active .submenu-header {
  background-color: #196272;
}
